/*
.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}*/

.leaflet-bar button {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}


.leaflet-bar button:hover {
  /*background-color: #fad26e;*/
  height: 30px;
  width: 35px;
}


.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}


/*.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}*/

#baseToggleButton {
  height: 30px;
  width: 30px;
}

#stViewToggleButton {
  /*background-color: #f99300;*/
  height: 30px;
  width: 30px;
}

#pictometryOpenButton {
  /*background-color: #f99300;*/
  height: 30px;
  width: 30px;
}

#zoomFullExtentButton {
  height: 40px;
  width: 40px;
}

.easy-button-button.toggleOnWidget-active {
  height: 30px;
  width: 30px;
  background-color: #96c9ff;
  padding-top: 3px;
}

.easy-button-button.toggleOffWidget-active {
  height: 30px;
  width: 30px;
  background-color: #f99300;
  padding-top: 3px;
}

.easy-button-button.dateNotSelected-active {
  height: 30px;
  width: 35px;
  background-color: #cfcfcf
}

.easy-button-button.dateSelected-active {
  height: 30px;
  width: 35px;
  background-color: #ffffff
}

.aDate {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
}

.leaflet-control-measure-toggle {
  width: 36px;
  height: 36px;
}
