body {width:100%; height:100%; overflow:hidden; margin:0; }
html {width:100%; height:100%; overflow:hidden; }

header.site-header > .row:last-of-type {
    background: #2176d2;
}

#demo-badge {
  /*text-transform: capitalize;*/
  font-size: 14px;
  vertical-align: top;
  /*color: #eee;*/
  margin-left: 4px;
  line-height: 35px;
  padding: 4px;
  border-radius: 8px;
  background: #f3c613;
}

/*use this for technical or noteworthy terms in a sentence*/
.keyword {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

#search-container {
    float: right;
    margin-top: 10px;
}

#search-input {
    float: left;
    width: 500px;
}

#search-button {
    height: 2.78571rem;
}

#imagery-buttons {
    margin-bottom: 15px;
    /*display: inline-block;*/
}

#pict-button {
    height: 2.78571rem;
}

#cyclo-button {
    height: 2.78571rem;
}

#container {
    /*height: 100%;*/
    position: absolute;
    top: 127px;
    right: 0;
    left: 0;
    bottom: 0;
}

#topic-panel {
    background: #fff;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
    overflow: auto;
}

/*#topic-panel-header {*/
/*    height: 70px;*/
/*}*/

.topic-panel-header-item {
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    margin: 15px;
}

#topic-panel-header-address {
    color: #666;
    display: none;
    border-left: 5px solid #58c04d;
    margin-left: 20px;
    padding-left: 15px;
}

#topic-panel-header-address-line-1 {
    margin-bottom: 0;
}

#estimated-warning {
  background: rgba(243, 198, 19, 0.28);
  border: 1px rgba(243, 198, 19, 0.6) solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
}

#topic-list {
    display: none;
}

#topic-list > a {
    background: #f5f5f5;
    border: 1px solid #ddd;
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 70px;
    line-height: 45px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    padding: 10px;
    /*vertical-align: middle;*/
    /*text-align: middle;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
}

#topic-list > a:hover {
    background: #fff;
    color: inherit;
}

#topic-list .topic-link-icon {
    padding-right: 30px;
}

.topic {
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

.topic table th, .topic table td {
    font-size: 15px;
}

.topic table tr th {
    text-align: left;
    vertical-align: top;
}

.li-section > a.external {
     display: inline-block;
     margin-bottom: 20px;
}

.topic-badge {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.topic-badge > h4 {
    background: #58c04d;
    color: #eee;
    margin: 0;
    text-align: center;
}

.topic-badge-body {
    padding: 10px;
}

.topic-badge-body > h1 {
    margin: 0;
    margin-bottom: 5px;
}

.table-subheader {
  color: #777;
  font-size: 14px;
}

/* for imagery instructions */
.callout li {
  color: #a1a1a1;
}

/*#zoning-badge > #zoning-badge-body > #zoning-description {*/
    /*display: inline-block;*/
    /*margin-bottom:*/
/*}*/

/*.description-short {*/
/*    max-width: 2ch;*/
/*    text-overflow: ellipsis;*/
/*}*/

#map-panel {
    height: 100%;
}

#cyclo-panel{
    display: none;
    height: 50%;
}

#map {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img { max-width: inherit; }

h4.has-tip {
    font-weight: normal;
}

/*min width for date columns in topic tables*/
table {
    /*table-layout: fixed;*/
    width: 100%;
}

.date-col {
    width: 12%;
}

#nearby-activity-header > h4 {
    float: left;
}

#nearby-activity-sort-container {
    float: right;
}

#nearby-activity-sort-container > input {
    margin-left: 10px;
}

.topic .topic-content-not-found {
    display: none;
}

.svg-icon-noClick-svg {
  pointer-events: none;
}

.svg-icon-noClick {
  pointer-events: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.basetooltip {
    width: 26px;
    height: 26px;
    font: 20px/22px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: inline-block;
    float: none;
}

.basetooltip2 {
    width: 80%;
    height: 20%;
    padding: 3px 10px;
    padding-right: 40px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: inline-block;
    float: none;
}

#deeds-regmaps a {
  margin-right: 10px;
}

#elections-location-name {
  font-weight: bold;
}

/*
.leaflet-bottom .leaflet-left .basetooltip {
  display: inline-block;
  float: none;
}*/

.leaflet-almostleft {
  position: absolute;
  bottom: 0px; /* possible because the placeholder's parent is the map */
  /*transform: translateY(-50%); /* using the CSS3 Transform technique */
  /*padding-top: 10px;*/
  left: 60px;
  padding-bottom: 10px;
  z-index: 500;
}

.leaflet-almostleft .leaflet-control {
  margin-bottom: 10px;
}


.leaflet-almostright {
  position: absolute;
  top: 0px; /* possible because the placeholder's parent is the map */
  /*transform: translateY(-50%); /* using the CSS3 Transform technique */
  /*padding-top: 10px;*/
  right: 60px;
  padding-bottom: 10px;
  z-index: 500;
}

.leaflet-almostright .leaflet-control {
  margin-top: 10px;
}

#cyclo-spinner {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:50%;
  font-size: 20px;
}

#inCycloDiv {
  background-color: white;
  border: 0px solid;
  width: 30px;
  height: 30px;
  display:none;
  cursor:pointer;
  z-index: 10;
  position:relative;
  float: right;
  /*padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;*/
}

.popout-icon {
  margin-top: 8.5px;
  font-size: 15px;
  margin-left: 8.5px;
  /*margin-right: 10px;
  padding-top:10px;
  padding-right:10px;*/
}

.widget-icon {
  margin-top: -1px;
  color: #000000;
}

#topic-vacancy .topic-badge {
  width: 400px;
  margin-bottom: 40px;
}

#vacancy-scale {
  margin: 0 auto;
  height: 25px;
  width: 100%;
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  background: #76ff32; /* Old browsers */
  background: -moz-linear-gradient(left, #76ff32 0%, #fff67a 36%, #ffc97a 67%, #ff7a7a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #76ff32 0%,#fff67a 36%,#ffc97a 67%,#ff7a7a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #76ff32 0%,#fff67a 36%,#ffc97a 67%,#ff7a7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76ff32', endColorstr='#ff7a7a',GradientType=1 ); /* IE6-9 */
}

#vacancy-scale-caption-low {
  float: left;
  margin-left: 5px;
}

#vacancy-scale-caption-high {
  float: right;
  margin-right: 5px;
}

.vacancy-scale-caption {
  color: #222;
  /*margin-top: 10px;*/
}

#vacancy-marker-line {
  margin: 0 auto;
  height: 10px;
  width: 100%;
  /*background: #76ff32;*/
}

#vacancy-marker {
  height: 25px;
  width: 3px;
  background: #000000;
}

#vacancy-button-container {
  /*justify-content:center;
  align-items:center;*/
  text-align: center;
  padding-bottom: 20px;
}
